#navbar {
    position: fixed;
    width: 100%;
    background-color: black;
    top: 0px;
    left: 0px;
    opacity: 80%;

}

nav li {

    margin-right: 60px;
    margin-left: 60px;
}

nav ul {
    padding: 3px 0px 11px 0px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    opacity: 80%;
}

nav a:hover {
    opacity: 100%;
}

h2 {
    text-align: center;
}

#Projects{
display: grid;
width:  100%;
height: 2000px;
grid-template-columns: auto-fit;
grid-template-rows: repeat(5,auto);
}

#Project1{
    background:PaleGreen;
}
#Project2{
    background:orange;
}
#Project3{
    background:purple;
}
#Project4{
    background:blue;
}
#Project5{
    background: red;
}