/* makes navigation bar opaque and positions it*/

#navbar {
    position: fixed;
    width: 100%;
    background-color: black;
    top: 0px;
    left: 0px;
    opacity: 80%;
    z-index: 2;
}

/* change margin for each list element in the navigation bar*/

nav li {
    margin-right: 60px;
    margin-left: 60px;
}

/* adjust display of the unordered list inside the navigation bar to be a flexbox*/

nav ul {
    padding: 3px 0px 11px 0px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*colour navigation bar elements to be white with opacity of 80% 
while making sure it works on all browsers
*/

nav a {
    color: white;
    text-decoration: none;
    opacity: 80%;
    -khtml-opacity: 0.8;
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
}

/* change opacity on hover for each navigation bar element */

nav a:hover {
    opacity: 100%;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
}

/*align padding for h2 headers */

h2 {
    text-align: center;
    padding-top: 3%;
    opacity: 0;
}

/* Create grid to hold all projects*/

#Projects {
    display: grid;
    width: 100%;
    height: 2000px;
    grid-template-columns: auto-fit;
    grid-template-rows: repeat(5, auto);
}

/*sets background for each project*/

#Project1 {
    background: PaleGreen;
}

#Project2 {
    background: orange;
}

#Project3 {
    background: purple;
}

#Project4 {
    background: blue;
}

#Project5 {
    background: red;
}

/*align text paragraphs*/

section p {
    text-align: center;
    opacity: 0;
}

/*align anchor elements*/

.link {
    text-align: center;
}

article a {
    color: white;
    text-decoration: none;
    opacity: 0;
}

article a:hover {
    text-decoration: underline;
}

/*fade animation for project tiles*/

.project:hover {
    animation-name: fade;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes fade {
    0% {
        filter: saturate(100%);
    }
    100% {
        filter: saturate(75%);
    }
}

/*text fade in animations*/

.project:hover a {
    animation-name: reveal;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.project:hover p {
    animation-name: reveal;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.project:hover h2 {
    animation-name: reveal;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes reveal {
    100% {
        opacity: 100;
    }
}